

.top-header{

    background-image: url("https://wallpapercave.com/wp/wp8905025.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title{
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: #4f94c5;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
}


.description{
    font-family: Arial;
    color: white;
    background-color: #36528a;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
    position: relative;
    bottom: 10px;

}

.second-header{
    background-color: #F3F9EE;
    height: 400px;
    position: relative;
    bottom: 20px;
    transition: all 0.5s ease-out;

}



.second-headline{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    color: #1F2F4F;
    padding: 5px;
    position: relative;
    top: 20px;


}

.main{
    display: block;
}




.item{
    display: block;
    text-align: center;
}

.things-todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}


.item-name{
    font-size: 25px;
    font-family: Arial;
    color: #1F2F4F;
}

.item-description{
    font-size: 15px;
    font-family: Arial;
    color: #253350;
    position: relative;
    bottom: 20px;
}

.to-do-img{
    width: 140px;
    height: 140px;
    border-radius: 550px;
    box-shadow: 0 0 0 5px #e78267;
    transition: all 0.5s ease-out;

}

.to-do-img:hover {
    width: 250px;
    height: 250px;
    transition: all 0.5s ease-out;
}


.second-header:hover {
    height: 450px;
    transition: all 0.5s ease-out;
}


.third-header{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 5px;
}


.images {
    position: relative;
    width: 33.33%;
    margin-bottom: 15px;
}

.collage{
    margin-top: -15px;
    margin-bottom: 5px;
    width: 450px;
    height: 350px;
}


.images:hover .water-mark-text {
    display: block;
}


.water-mark-text {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 430px;
    background-color: rgba(21, 21, 21, 0.5);
    padding: 10px;

}

.text {
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
}
