
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fffdfc;

}




.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}


.header-title{
    display: flex;
    align-items: center;


    color: inherit;
    text-decoration: none;

}

.header-title:hover .header_name {
    color: #ff335f;
}



.header-img{
    border-radius: 50%;

}

.header_name{
    color: #373a3c;
    font-size: 20px;
    margin-left: 5px;

}
.fa-check-circle{
    font-size: 18px;
}


.nagivations{
    padding-bottom: 2px;
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 40px;

}

.nav{

    text-decoration: none;
    color: inherit;

    padding-bottom: 3px;
    border-bottom: 7px solid rgba(255, 253, 252, 0);
    transition: all 0.5s;
}

.nav:hover{
    border-bottom: 7px solid #ff335f;
}

.heavy{
    font-weight: bolder;
}


.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container{
    margin-top: 90px;
    width: 70%;
}


.intro-about{
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ff335f;
    font-weight: bolder;

}

.big-title{
    color: #373a3c;
    font-family: "Noe Display", Georgia, Times, serif;
    font-size: 90px;
    line-height: 90px;

    margin-top: 25px;
    margin-bottom: -5px;
}

.big-description {
    font-size: 36px;
    line-height: 44px;
    font-weight: lighter;

}

.effect{
    text-decoration: none;
    color: inherit;
    border-bottom: 13px solid rgba(148, 148, 148, 0.2);

    display: inline-block;

    height: 0.80em;
}

.effect:hover{
    border-bottom: 13px solid rgba(255, 174, 0, 0.5);
}



.intro-effect{
    text-decoration: none;
    border-bottom: 13px solid rgba(148, 148, 148, 0.2);

    display: inline-block;
    height: 0.70em;
}

.intro-effect:hover{
    border-bottom: 13px solid rgba(38, 255, 174, 0.5);
}

.feature-container{
    margin-top: 75px;
    width: 80%;
}



.feature-title{
    font-family: "Noe Display", Georgia, Times, serif;
    font-size: 40px;
    color: #373a3c;
    margin-left: 65px;
}

.dot{
    font-size: 80px;
    color: #ff335f;
}

.tdot{
    color: #595aff;
}

.item{

    text-decoration: none;

    background-size: cover;
    overflow: hidden;
    border-radius: 0.5rem;

    box-shadow: 14px 14px 60px -10px rgba(0, 0, 0, 0.25);

    height: 330px;
    width: 280px;

    margin-left: 45px;
    margin-bottom: 40px;

}

.item:hover{
    transform: scale(1.05);
}



.item-header{
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 0 0 20px;
    text-align: left;
    font-family: "Noe Display", Georgia, Times, serif;
    color: #ffffff;

}

.description{
    text-align: left;
    color: #ffffff;
    line-height: 25px;
    margin-top: -10px;


}

.projects-items{
    display: flex;
    flex-wrap: wrap;
}


.descri {
    margin-top: 30px;
    padding: 20px;

    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1), transform .2s cubic-bezier(.4, 0, .2, 1);
    height: 200px;
}

.item:hover .descri {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1), transform .2s cubic-bezier(.4, 0, .2, 1);
}


.footer-container{
    border-top: 1px solid rgba(55, 58, 60, 0.1);

}

.footer-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    justify-content: space-evenly;
    align-items: center;

    list-style: none;
    width: 90%;
}

.footer{
    text-decoration: none;
    font-size: 15px;
    color: #373a3c;
    text-align: center;
}

.footer:hover{
    color: #ff335f;
}



.project-title{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Noe Display", Georgia, Times, serif;
    font-size: 70px;
    color: #373a3c;

    border-top: 1px solid rgba(55, 58, 60, 0.1);
    border-bottom: 1px solid rgba(55, 58, 60, 0.1);

}

.project-filter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -25px;
}

.filter{
    text-align: center;
    font-weight: bolder;
    color: white;
    background-color: #ff335f;
    width: 110px;
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;


}

.filter:hover{
    color: #373a3c;
    background-color: #ffccd0;
}
